################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
*.json
*.sqlite
*.v2
*.tmp
*.ps1
/EcomApi/.vs/ProjectEvaluation
/EcomApi/.vs/EcomApi/v17
/EcomApi/bin/Debug/net8.0
/EcomApi/obj
