################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
*.json
*.sqlite
*.v2
*.tmp
*.ps1
/EcomApi/.vs/ProjectEvaluation
